{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}

<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="static/css/style_acceuil.css">
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet"/>
      <title>Document</title>
  </head>
  <body>
    <center>
      <div class="form">
        <p><h2>You must login or Sign up before.</h2></p>    
        </div>
        <p class="account" >Create an account ! <a href="/sign-up">Sign up</a></p>
        <p class="account" >I already got an account ! <a href="/login">Login</a></p>     
    </center>
    </body>
    </html>

    {% endblock content
        %}